
.LoginForm {
   background: rgb(208, 208, 236);
   border: 1px solid #dedede;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 0 auto;
   max-width: 500px;
   padding: 30px 50px;
   border-radius: 15px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

Label {
    font-size: 20px;
    font-weight: bold;
   
}

Button {
    width: 400px;
    padding: 30px;
    margin: 20px;
}


